.container {
  display: flex;
  justify-content: center;
  font-size: 12vw;
  margin-top: 20vh;
}

p {
  margin: 0;
}

input {
  font-size: 12vw;
  border: none;
  width: 14vw;
  height: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: black;
}

input:disabled {
  color: black;
  background-color: white;
}

.meridiem {
  margin-left: 1vw;
  width: 20vw;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    justify-content: center;
    font-size: 18vw;
    margin-top: 20vh;
  }

  input {
    font-size: 18vw;
    border: none;
    width: 20vw;
    height: 50%;
  }

  .meridiem {
    margin-left: 1vw;
    width: 27vw;
  }
}
